<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <meta http-equiv="X-UA-Compatible" content="IE=egde">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Demo Express App</title>
    </head>
    <body>
        <form action="/user" method="POST">
        <h1>User Registration form</h1>
        <h2> User Name </h2>
        <input type="text" name="userName" value="<%= locals.userName %>" />
        <h2> Job </h2>
        <input type="text" name="work" value="<%= locals.work %>" />

        <button type="submit" >Submit</button>
    </form>
    </body>
</html>