<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <meta http-equiv="X-UA-Compatible" content="IE=egde">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Demo Express App</title>
    </head>
    <body>
        <h1>Hello World! my first express course</h1>
        <h2> <%= name %> </h2>
        <h2> <%= locals.work %>  </h2>
    </body>
</html>